In [ ]:
# Calculate the product of first 10 natural numbers
product = 1
for i in range(1,11):
    product*= i
print("The product of the first 10 natural numbers is:", product)

The product of the first 10 natural numbers is: 3628800

In [ ]:
#Find the remainder when 156 is divided by 7
#1 method 
remainder = 156 % 7
print("The remainder when 156 is divided by 7 is:", remainder)

The remainder when 156 is divided by 7 is: 2

In [2]:
#2 method
dividend = int(input("Enter the dividend: "))
divisor = int(input("entera the divisor:"))
quotient = dividend // divisor
remainder = dividend - (quotient*divisor)
print(remainder)

2

In [5]:
#Calculate the square of 25
number = 25
square = number ** 2
square

625

In [8]:
#Find the cube root of 125
number = 125
cube_root = number ** (1/3)
print(round(cube_root))

5

In [11]:
# Calculate the sum of digits in number 12345
number = 12345
sum_digit = 0
while number > 0:
    sum_digit += number % 10
    number = number // 10
print(sum_digit)

15

In [13]:
# Check if 97 is a prime number
num = 97
if num % 2 == 0:
    print(f"{num} is not a prime number")
elif num % 3 == 0:
    print(f"{num} is not a prime number")
elif num % 5 == 0:
    print(f"{num} is not a prime number")
elif num % 7 == 0:
    print(f"{num} is not a prime number")   
elif num % 11 == 0:
    print(f"{num} is not a prime number")   
else:
    print(f"{num} is a prime number")

97 is a prime number

In [15]:
# Check if 97 is a prime number
num = 97
if num <= 1:
    print("It is a not a prime number")
else :
    is_prime = True
    for i in range(2, int(num**0.5)+1):
        if num % i ==0:
            is_prime = False
            break
if is_prime:
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

97 is a prime number

In [16]:
# Find the factorial of 8 FOR LOOP
num = 8
factorial = 1
for i in range(1,num+1):
    factorial = factorial * i
print(f"The factorial of {num} is {factorial}")

The factorial of 8 is 40320

In [17]:
# Find the factorial of 8 WHILE LOOP
num = 8 
fact = 1
i=1
while i <= num:
    fact = fact * i
    i = i +1 
print(f"The factorial of {num} is {fact}")

The factorial of 8 is 40320

In [18]:
#Calculate the average of numbers: 15, 23, 31, 42, 56
num = (15, 23, 31, 42, 56)
sum = 0
for i in num:
  sum = sum + i
  avg = sum/len(num)
print(avg)

33.4

In [ ]:
# Find the greatest common divisor (GCD) of 48 and 36

In [23]:
# Calculate the sum of first 20 odd numbers
sum = 0
for i in range(1,40,2):
    sum += i
print(sum)

400

In [24]:
# Calculate the average of 3.14, 2.718, 1.618, 0.577
num = (3.14, 2.718, 1.618, 0.577)
avg = 0
for i in num:
  avg = avg + i
print(avg / len(num))

2.01325

In [26]:
# Convert 98.6 Fahrenheit to Celsius 
f = 98.6 
c = (f - 32) / 1.8
print(c)

36.99999999999999

In [28]:
# Calculate compound interest on $1000 at 5.5% for 3 years
p = 1000
r = 5.5
n = 3
A = ((1+r/100)**n)*p
C_I = A - p
print(C_I)

174.24137499999983

In [30]:
# Find the hypotenuse of a right triangle with sides 3.5 and 4.2
a = 3.5
b = 4.2
c = (a**2 + b**2)**0.5
print(round(c,2))

5.47

In [32]:
# Calculate the volume of a sphere with radius 7.8
r = 7.8
v = (4/3) * 3.1416 * (r**3)
print(round(v,2))

1987.8

In [34]:
# Round 3.14159 to 3 decimal places
n = 3.14159
print(round(n,3))

3.142

In [35]:
# Calculate the percentage: 45 out of 67
a = 45
b = 67
percent = (a/b)*100
print(round(percent,2))

67.16

In [37]:
#  Find the square root of 23.456
n = 23.456
print(round(n**0.5,2))

4.84

In [38]:
# Calculate simple interest: Principal=2500, Rate=6.5%, Time=2.5 years
p = 2500
r = 6.5
t = 2.5
SI = (p*r*t)/100
print(SI)

406.25

In [40]:
# Convert 45.7 degrees to radians
n = 45.7
radians = n * (3.1416 / 180)
print(round(radians,2))

0.8

In [41]:
#  Reverse the string 'Python Programming'
s = 'Python Programming'
print(s[::-1])

gnimmargorP nohtyP

In [42]:
# Check if 'racecar' is a palindrome
c = 'racecar'
if c == c[::-1]:
    print("IT is a palindrome")
else:
    print("It is not a palindrome")

IT is a palindrome

In [44]:
# Count the number of words in 'Python is a great programming language'
A = 'Python is a great programming language'
W = len(A.split())
print(W)

6

In [45]:
# Convert 'hello world' to title case 
s = 'hello world'
print(s.title())

Hello World

In [47]:
# Find the length of string 'Data Science'
st = 'Data Science'
print(len(st))

12

In [48]:
#  Replace all spaces with underscores in 'Machine Learning'
s = 'Machine Learning'
S = s.replace(' ','_')
S

'Machine_Learning'

In [49]:
# Check if 'python' is in 'Python Programming Language'
st = 'python is in python programming language'
I = st.find('python')
I

0

In [50]:
# Extract the first 5 characters from 'Artificial Intelligence'
a = 'Artificial Intelligence'
print(a[0:5])

Artif

In [51]:
# Convert 'UPPERCASE' to lowercase
u = 'delicious'
print(u.upper())

DELICIOUS

In [52]:
#  Remove all vowels from 'Computer Science'
s = 'Computer Science'
result = ""
for i in s:
  if i.lower() not in "aeiou":
    result = result + i
print(result)

Cmptr Scnc

In [1]:
# mississippi
n = 'mississippi'
r ={}
for i in n:
  if i in r:
    r[i] += 1
else:
  r[i] = 1
max_r = max(r, key=r.get)
print(max_r)

i

In [2]:
# Check if two strings are anagrams: 'listen' and 'silent'
t = 'listen'
s = 'silent'
if sorted(t) == sorted(s):
  print(True)
else:
  print(False)

True